<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gangpeng.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 允许应用写用户的外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:process=":remote"
            android:taskAffinity="com.gangpeng.test1">
            <intent-filter>
                <action android:name="com.gangpeng.action"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.gangpeng.category"/>

                <data
                    android:mimeType="pg/*"
                    android:scheme="pg"/>
            </intent-filter>
        </activity>

        <receiver android:name=".PgReceiver">
            <intent-filter>
                <action android:name="com.gangpeng.broadcast"/>
                <data
                    android:mimeType="pg/*"
                    android:scheme="pg"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.gangpeng.category"/>
            </intent-filter>
        </receiver>

        <service android:name=".TestService"/>
    </application>

</manifest>